In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats 
from datetime import datetime

In [3]:
PATH = 'features.csv'
#dtypes = [int, datetime, float, float, float, float,float, float,float, float, float, bool]
df = pd.read_csv(PATH, parse_dates=['Date'])

In [4]:
df.head(10)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False

In [5]:
#df2 = df[(df['Date'] > '01/01/2012') & (df['Date'] < '08/01/2013')]
#df2.head(1)

In [6]:
PATH = 'stores.csv'
#dtypes = [int, datetime, float, float, float, float,float, float,float, float, float, bool]
df_stores = pd.read_csv(PATH)

In [7]:
df_stores.head(5)

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [8]:
df_merged = pd.merge(df, df_stores, on='Store', how='outer')

In [9]:
df_merged.head(200)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False,A,151315
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False,A,151315
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False,A,151315
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False,A,151315
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False,A,151315
10,1,2010-04-16,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False,A,151315
11,1,2010-04-23,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False,A,151315
12,1,2010-04-30,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False,A,151315
13,1,2010-05-07,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False,A,151315
14,1,2010-05-14,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False,A,151315
15,1,2010-05-21,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False,A,151315
16,1,2010-05-28,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False,A,151315
17,1,2010-06-04,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False,A,151315
18,1,2010-06-11,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False,A,151315
19,1,2010-06-18,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False,A,151315
20,1,2010-06-25,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False,A,151315
21,1,2010-07-02,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False,A,151315
22,1,2010-07-09,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False,A,151315
23,1,2010-07-16,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False,A,151315
24,1,2010-07-23,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False,A,151315
25,1,2010-07-30,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False,A,151315
26,1,2010-08-06,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False,A,151315
27,1,2010-08-13,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False,A,151315
28,1,2010-08-20,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False,A,151315
29,1,2010-08-27,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,1,2013-05-10,63.90,3.392,4624.61,83.88,42.38,1618.31,8144.90,NaN,NaN,False,A,151315
171,1,2013-05-17,69.53,3.454,16170.50,92.00,8.32,4127.24,6206.97,NaN,NaN,False,A,151315
172,1,2013-05-24,77.19,3.494,7959.89,178.00,1621.47,3152.57,2938.70,NaN,NaN,False,A,151315
173,1,2013-05-31,78.02,3.466,2369.77,142.45,475.35,45.55,2056.84,NaN,NaN,False,A,151315
174,1,2013-06-07,76.44,3.439,3514.75,742.59,116.15,1015.44,5137.09,NaN,NaN,False,A,151315
175,1,2013-06-14,79.86,3.431,12592.32,527.48,402.88,7474.56,2484.44,NaN,NaN,False,A,151315
176,1,2013-06-21,81.35,3.479,8104.02,417.99,327.33,5182.25,3754.44,NaN,NaN,False,A,151315
177,1,2013-06-28,83.94,3.495,4205.98,796.70,6.84,3816.78,4812.74,NaN,NaN,False,A,151315
178,1,2013-07-05,79.85,3.422,7649.99,3503.29,1766.77,9454.96,1079.89,NaN,NaN,False,A,151315
179,1,2013-07-12,83.12,3.400,6089.94,1362.42,209.62,2367.42,2651.05,NaN,NaN,False,A,151315
180,1,2013-07-19,79.26,3.556,3117.04,1060.39,199.05,1012.30,5381.72,NaN,NaN,False,A,151315
181,1,2013-07-26,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False,A,151315
182,2,2010-02-05,40.19,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False,A,202307
183,2,2010-02-12,38.49,2.548,NaN,NaN,NaN,NaN,NaN,210.897994,8.324,True,A,202307
184,2,2010-02-19,39.69,2.514,NaN,NaN,NaN,NaN,NaN,210.945160,8.324,False,A,202307
185,2,2010-02-26,46.10,2.561,NaN,NaN,NaN,NaN,NaN,210.975957,8.324,False,A,202307
186,2,2010-03-05,47.17,2.625,NaN,NaN,NaN,NaN,NaN,211.006754,8.324,False,A,202307
187,2,2010-03-12,57.56,2.667,NaN,NaN,NaN,NaN,NaN,211.037551,8.324,False,A,202307
188,2,2010-03-19,54.52,2.720,NaN,NaN,NaN,NaN,NaN,210.873332,8.324,False,A,202307
189,2,2010-03-26,51.26,2.732,NaN,NaN,NaN,NaN,NaN,210.676610,8.324,False,A,202307
190,2,2010-04-02,63.27,2.719,NaN,NaN,NaN,NaN,NaN,210.479887,8.200,False,A,202307
191,2,2010-04-09,65.41,2.770,NaN,NaN,NaN,NaN,NaN,210.283165,8.200,False,A,202307
192,2,2010-04-16,68.07,2.808,NaN,NaN,NaN,NaN,NaN,210.149546,8.200,False,A,202307
193,2,2010-04-23,65.11,2.795,NaN,NaN,NaN,NaN,NaN,210.100065,8.200,False,A,202307
194,2,2010-04-30,66.98,2.780,NaN,NaN,NaN,NaN,NaN,210.050583,8.200,False,A,202307
195,2,2010-05-07,71.28,2.835,NaN,NaN,NaN,NaN,NaN,210.001102,8.200,False,A,202307
196,2,2010-05-14,73.31,2.854,NaN,NaN,NaN,NaN,NaN,209.998458,8.200,False,A,202307
197,2,2010-05-21,74.83,2.826,NaN,NaN,NaN,NaN,NaN,210.276844,8.200,False,A,202307
198,2,2010-05-28,81.13,2.759,NaN,NaN,NaN,NaN,NaN,210.555230,8.200,False,A,202307
199,2,2010-06-04,81.81,2.705,NaN,NaN,NaN,NaN,NaN,210.833616,8.200,False,A,202307