In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats 
from datetime import datetime

In [14]:
PATH = 'features.csv'
#dtypes = [int, datetime, float, float, float, float,float, float,float, float, float, bool]
df = pd.read_csv(PATH, parse_dates=['Date'])

In [15]:
df.head(10)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False

In [16]:
#df2 = df[(df['Date'] > '01/01/2012') & (df['Date'] < '08/01/2013')]
#df2.head(1)

In [17]:
PATH = 'stores.csv'
#dtypes = [int, datetime, float, float, float, float,float, float,float, float, float, bool]
df_stores = pd.read_csv(PATH)

In [18]:
df_stores.head(5)

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [19]:
df_merged = pd.merge(df, df_stores, on='Store', how='outer')

In [20]:
df_merged.head(200)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False,A,151315
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False,A,151315
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False,A,151315
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False,A,151315
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False,A,151315
10,1,2010-04-16,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False,A,151315
11,1,2010-04-23,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False,A,151315
12,1,2010-04-30,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False,A,151315
13,1,2010-05-07,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False,A,151315
14,1,2010-05-14,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False,A,151315
15,1,2010-05-21,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False,A,151315
16,1,2010-05-28,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False,A,151315
17,1,2010-06-04,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False,A,151315
18,1,2010-06-11,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False,A,151315
19,1,2010-06-18,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False,A,151315
20,1,2010-06-25,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False,A,151315
21,1,2010-07-02,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False,A,151315
22,1,2010-07-09,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False,A,151315
23,1,2010-07-16,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False,A,151315
24,1,2010-07-23,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False,A,151315
25,1,2010-07-30,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False,A,151315
26,1,2010-08-06,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False,A,151315
27,1,2010-08-13,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False,A,151315
28,1,2010-08-20,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False,A,151315
29,1,2010-08-27,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,1,2013-05-10,63.90,3.392,4624.61,83.88,42.38,1618.31,8144.90,NaN,NaN,False,A,151315
171,1,2013-05-17,69.53,3.454,16170.50,92.00,8.32,4127.24,6206.97,NaN,NaN,False,A,151315
172,1,2013-05-24,77.19,3.494,7959.89,178.00,1621.47,3152.57,2938.70,NaN,NaN,False,A,151315
173,1,2013-05-31,78.02,3.466,2369.77,142.45,475.35,45.55,2056.84,NaN,NaN,False,A,151315
174,1,2013-06-07,76.44,3.439,3514.75,742.59,116.15,1015.44,5137.09,NaN,NaN,False,A,151315
175,1,2013-06-14,79.86,3.431,12592.32,527.48,402.88,7474.56,2484.44,NaN,NaN,False,A,151315
176,1,2013-06-21,81.35,3.479,8104.02,417.99,327.33,5182.25,3754.44,NaN,NaN,False,A,151315
177,1,2013-06-28,83.94,3.495,4205.98,796.70,6.84,3816.78,4812.74,NaN,NaN,False,A,151315
178,1,2013-07-05,79.85,3.422,7649.99,3503.29,1766.77,9454.96,1079.89,NaN,NaN,False,A,151315
179,1,2013-07-12,83.12,3.400,6089.94,1362.42,209.62,2367.42,2651.05,NaN,NaN,False,A,151315
180,1,2013-07-19,79.26,3.556,3117.04,1060.39,199.05,1012.30,5381.72,NaN,NaN,False,A,151315
181,1,2013-07-26,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False,A,151315
182,2,2010-02-05,40.19,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False,A,202307
183,2,2010-02-12,38.49,2.548,NaN,NaN,NaN,NaN,NaN,210.897994,8.324,True,A,202307
184,2,2010-02-19,39.69,2.514,NaN,NaN,NaN,NaN,NaN,210.945160,8.324,False,A,202307
185,2,2010-02-26,46.10,2.561,NaN,NaN,NaN,NaN,NaN,210.975957,8.324,False,A,202307
186,2,2010-03-05,47.17,2.625,NaN,NaN,NaN,NaN,NaN,211.006754,8.324,False,A,202307
187,2,2010-03-12,57.56,2.667,NaN,NaN,NaN,NaN,NaN,211.037551,8.324,False,A,202307
188,2,2010-03-19,54.52,2.720,NaN,NaN,NaN,NaN,NaN,210.873332,8.324,False,A,202307
189,2,2010-03-26,51.26,2.732,NaN,NaN,NaN,NaN,NaN,210.676610,8.324,False,A,202307
190,2,2010-04-02,63.27,2.719,NaN,NaN,NaN,NaN,NaN,210.479887,8.200,False,A,202307
191,2,2010-04-09,65.41,2.770,NaN,NaN,NaN,NaN,NaN,210.283165,8.200,False,A,202307
192,2,2010-04-16,68.07,2.808,NaN,NaN,NaN,NaN,NaN,210.149546,8.200,False,A,202307
193,2,2010-04-23,65.11,2.795,NaN,NaN,NaN,NaN,NaN,210.100065,8.200,False,A,202307
194,2,2010-04-30,66.98,2.780,NaN,NaN,NaN,NaN,NaN,210.050583,8.200,False,A,202307
195,2,2010-05-07,71.28,2.835,NaN,NaN,NaN,NaN,NaN,210.001102,8.200,False,A,202307
196,2,2010-05-14,73.31,2.854,NaN,NaN,NaN,NaN,NaN,209.998458,8.200,False,A,202307
197,2,2010-05-21,74.83,2.826,NaN,NaN,NaN,NaN,NaN,210.276844,8.200,False,A,202307
198,2,2010-05-28,81.13,2.759,NaN,NaN,NaN,NaN,NaN,210.555230,8.200,False,A,202307
199,2,2010-06-04,81.81,2.705,NaN,NaN,NaN,NaN,NaN,210.833616,8.200,False,A,202307

In [ ]:
def f(data):
    data['ma3']=data['a']*2 #or whatever function/calculation you want
    data['b2']=data['b']*3 #etc etc
    #e.g. data['g']=g(data['b'])
    return data

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 

df_pca = df_merged.loc[
    df_merged['Date'] > '11/11/2011' ,
    ['Store','Temperature','Fuel_Price','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','CPI','Unemployment','IsHoliday'
]].dropna()

# Normalize the data so that all variables have a mean of 0 and standard deviation
# of 1.
X = StandardScaler().fit_transform(df_pca)

# The NumPy covariance function assumes that variables are represented by rows,
# not columns, so we transpose X.
Xt = X.T
Cx = np.cov(Xt)
print('Covariance Matrix:\n', Cx)

Covariance Matrix:
 [[ 1.00049237e+00 -1.51942046e-01  1.51335542e-01 -7.16919620e-03
  -2.18284640e-02 -1.25908224e-02  4.94237264e-03  3.52334202e-02
  -2.13172243e-01  2.44038960e-01  1.13277987e-02]
 [-1.51942046e-01  1.00049237e+00  2.10589364e-01 -4.65388439e-02
  -3.09165958e-01 -4.64774553e-02 -7.59068721e-02  2.70054931e-02
   2.01639896e-01  4.85147645e-02 -1.44414913e-01]
 [ 1.51335542e-01  2.10589364e-01  1.00049237e+00  8.99604564e-02
  -2.25050755e-01 -5.30910450e-02  3.09619701e-03 -1.15160359e-02
  -3.93031362e-01  3.39279304e-01 -1.46812919e-01]
 [-7.16919620e-03 -4.65388439e-02  8.99604564e-02  1.00049237e+00
  -3.66426290e-02 -1.13167215e-01  8.22097014e-01  3.82410516e-02
  -3.24110127e-02  1.67146777e-02  1.67725040e-01]
 [-2.18284640e-02 -3.09165958e-01 -2.25050755e-01 -3.66426290e-02
   1.00049237e+00 -6.57854766e-02 -7.25918890e-02 -2.11056897e-02
  -3.67860533e-02 -2.56250571e-03  3.03459996e-01]
 [-1.25908224e-02 -4.64774553e-02 -5.30910450e-02 -1.13167215e-01
  -6.57854766e-02  1.00049237e+00 -7.07583302e-02 -1.91311484e-02
  -2.35606389e-02 -1.09544062e-03  4.07450266e-01]
 [ 4.94237264e-03 -7.59068721e-02  3.09619701e-03  8.22097014e-01
  -7.25918890e-02 -7.07583302e-02  1.00049237e+00  2.57528571e-02
  -4.66392688e-02  6.30695912e-03  1.34437593e-01]
 [ 3.52334202e-02  2.70054931e-02 -1.15160359e-02  3.82410516e-02
  -2.11056897e-02 -1.91311484e-02  2.57528571e-02  1.00049237e+00
   1.20163178e-03  4.32765166e-02 -3.30268126e-02]
 [-2.13172243e-01  2.01639896e-01 -3.93031362e-01 -3.24110127e-02
  -3.67860533e-02 -2.35606389e-02 -4.66392688e-02  1.20163178e-03
   1.00049237e+00 -3.04064204e-01  6.34233372e-04]
 [ 2.44038960e-01  4.85147645e-02  3.39279304e-01  1.67146777e-02
  -2.56250571e-03 -1.09544062e-03  6.30695912e-03  4.32765166e-02
  -3.04064204e-01  1.00049237e+00  9.59557834e-03]
 [ 1.13277987e-02 -1.44414913e-01 -1.46812919e-01  1.67725040e-01
   3.03459996e-01  4.07450266e-01  1.34437593e-01 -3.30268126e-02
   6.34233372e-04  9.59557834e-03  1.00049237e+00]]

In [32]:
#sklearn_pca = PCA(n_components=10)
sklearn_pca = PCA()
Y_sklearn = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_
)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [0.1763275  0.16965488 0.14882618 0.11212954 0.09180038 0.0806588
 0.07354203 0.0553399  0.04092109 0.03581738 0.01498233]

In [33]:
df_pca.head(11)

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
93,1,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False
97,1,51.63,3.159,5011.32,67.00,347.37,225.79,4011.37,219.179453,7.866,False
98,1,47.96,3.112,2725.36,40.48,634.70,24.90,2739.43,219.357722,7.866,False
99,1,44.55,3.129,5762.10,46011.38,260.36,983.65,4735.78,219.535990,7.866,True
100,1,49.01,3.157,6277.39,21813.16,143.10,1450.13,8483.00,219.714258,7.348,False
101,1,48.53,3.261,5183.29,8025.87,42.24,453.08,3719.38,219.892526,7.348,False
102,1,54.11,3.268,4139.87,2807.19,33.88,500.62,3400.21,219.985689,7.348,False
103,1,54.26,3.290,1164.46,1082.74,44.00,11.00,1222.19,220.078852,7.348,False